<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>


  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">&#9813;</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="https://www.linkedin.com/in/ricardofernandez1">Linkedin</a></li>
        <li><a href="http://twitter.com/rickthemovie">Twitter</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Home</a></li>
        <li><a href="https://www.linkedin.com/in/ricardofernandez1">Linkedin</a></li>
        <li><a href="http://twitter.com/rickthemovie">Twitter</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h2 class="header center white-text text-lighten-2">R. Fernandez</h2>
        <div class="row center">
                   <img src="rick.jpg" alt="photograph of Rick!" class="profile-photo">

           <p class="title-date">

              <i class="mdi-communication-phone prefix"> <a href="tel:6613167626">661 - 316 - 7626 </a>   </i>
              <i class="mdi-content-mail "> <a href="mailto:Fernandezr16@gmail.com"> Contact@rickthedeveloper.com</a></i>
            </p>
<!--           <p align="left">Hey Guys. I decided to build this website out as a cool way to showcase what I've done professionally so far. Go ahead and take a look around. I'll be updating regulary. :)</p>
 -->

        </div>

        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 2"></div>
  </div>


  <div class="container">
    
    
   <%=render "shared/aboutme"%>
   <%=render "shared/skills"%>
  </div>


  <div class="parallax-container valign-wrapper">


    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
         <%= render 'shared/experience' %>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <!-- Projects Section -->
    <%= render 'shared/projects' %>

  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
           
           <%=render "shared/education"%>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 3"></div>
  </div>

  
  <div class="container">
  
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-action-description black-text"></i></h3>
            <a class="btn tooltipped" data-position="right" data-delay="50" data-tooltip="Download" href="resume.pdf">Resume</a>

          <p color = "black"> Press here to view my Resume in a beautiful PDF format. </p>
        </div>
      </div>

    </div>
  </div>





  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
          
</html>
